

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');


.bg-image {
      background-image: url('/img/bg.jpg');
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
    }

.rectangle {
    background-image: url(/img/rectangle.png);
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
    padding: 150px ;
    background-position-y: 150px;
    
}


.rectangle2 {
    background: #fff;
    height: 120px;
    position: relative;
    margin:5.6% 16.5%;
    border-radius: 5px;  
}

.rectangle3 {
    background: #8bc540;
     height: 120px;
     position: relative;
     margin:0% -4%;
     border-radius: 5px 0px 0px 5px; 
     width:98.5%;

} 


.triangle {
    height: 120px;
    border-top: 60px solid transparent;
    border-left: 20px solid #8bc540;
    border-bottom: 60px solid transparent;
    margin-left: 100%;
    position: absolute;
  }


.form-inline {
    display: flex;
    
}

.btn-primary {
    color: #fff;
    background-color: #8bc540;
    border:3px solid #6f973b;
    width: 140%;
    margin-top:7px;
    padding:5px 10px;
    font-weight: 700;
}

.btn-primary:hover {
    color: #fff;
    background-color: #7fb13d;
    border:3px solid #7fb13d;
}

.container.pt-4.ml-3 {
    margin-left: 100px;
}

/* text styles */

.display-2 {
  
    font-size: 31px;
    font-weight: 500;
    color: #3f3f3f;
    font-style: italic;
    letter-spacing: -2px;
    position: absolute;
    bottom: 1;
    bottom: 51%;
}

.display-3{
  
    font-size: 50px;
    font-weight: 500;
    font-style: italic;
    color: #8bc540;
    letter-spacing: -2px;
}
.display-4  {
  
    font-size: 31px;
    font-weight: 500;
    color: #3f3f3f;
    font-style: italic;
    letter-spacing: -1px;
    margin-top: -7px;
}


.display-5 {
    font-size:30px;
    padding-top: 30px;  
    padding-left:30px;  
    font-weight: 700;
    color:#fff;
}

.display-6 {
  font-size:18px;
  padding-left: 45px;       
  text-align: center;
  font-weight: 400;
  color:#fff;
  margin-top:-10px;
  letter-spacing: 1;
}

.display-7 {
  font-size:23px;
  padding-left: 45px;       
  font-weight: 700;
  margin-top:10px;
  color: #6d6e70;

}

.display-7 span {
  font-size:23px;     
  font-weight: 700;
  margin-top:10px;
  color: #8bc540;
}


@media screen and (max-width: 768px) {
    .rectangle2{
        width: 75%;
    }
        .btn-primary {
            font-size:7px;
            padding: 0px 5%;
        }
       h1.display-7, h1.display-7 span {
            font-size: 25px;
        }
        h1.display-5 {
            font-size:20px;
            text-align: left;
        }
        p.display-6 {
            font-size: 10px;
            margin-left:-30px;
          
        }
        input#firstname, input#email{
            font-size: 7px;
        }
        .col.md-6 img {
            width: 200px;
        }
     
        .container.pt-4.ml-3 {
            margin-left: 1px!important;
        }
        h1.display-3, h1.display-2, h1.display-4 {
            font-size: 40px;
        }
        span.display-2 {
        bottom: 53.5%;
        margin-left:5px;
    }
    .rectangle {
        background-size: contain;
    }
}

@media screen and (max-width: 500px) {
    .rectangle2{
        width: 80%;
        margin: 5% 10%;
    }
        .btn-primary {
            font-size:5px;
            padding: 0px 1%;
            margin-left: -2px;
        }
       h1.display-7, h1.display-7 span {
            font-size: 15px;
        }
        h1.display-5 {
            font-size:10px;
            text-align: left;
        }
        p.display-6 {
            font-size: 10px;
            margin-left:-30px;
          
        }
        input#firstname, input#email{
            font-size: 5px;
        }
        .col.md-6 img {
            width: 100px;
        }
     
        .container.pt-4.ml-3 {
            margin-left: 0px!important;
        }
       h1.display-2, h1.display-4 {
            font-size: 20px;
            width: 150%;
        }

        h1.display-3 {
            font-size: 25px;
            width: 150%;
        }
        span.display-2 {
        bottom: 36.5%;
        margin-left:5px;
        font-size: 20px;
    }
    .rectangle {
        background-size: contain;
        height:200px;
    }
    .container.pt-4.ml-3 {
        width: 150%;
    }
    .container.pt-4.ml-3 {
        margin-left: -80%!important;
        margin-top:-10%;
    }
    h1.display-7 {
        margin-left: -15%;
    }
}